<!DOCTYPE html>
<html>
<head>
	<title>{%block title%}{%endblock%}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
	{%block includes %}
	{%endblock%}
</head>
<body>
	<ul class="main-nav">
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li><a href="{{ url_for('login') }}">Login</a></li>
	</ul>	
	<h1>Chiklets the IoT Robot</h1>
	{%block content%}
	{%endblock%}
	<div class="msg">{{base_message}}</div>

</body>
</html>
